<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python</title>
</head>
<body>
    <h1>Python</h1>
    <p>ID:{{Python.id}}</p>
    <p>Desciption: {{Python.desc}}</p>
    <p>Authors</p>
    <ul>
        {% for author in BookAuthors %}
        <li>{{author.first_name}} {{author.last_name}}</li>
        {% endfor %}
    </ul>
    <form action="/addAuthor" method="post">
        {% csrf_token %}
        <label for="Authors">Authors</label>
        <select name="author" id="author">
            {% for author in AllAuthors %}
            <option value="{{author}}">{{author.first_name}} {{author.last_name}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Add">
    </form>
</body>
</html>